<!-- templates/feed/feed_upload.html -->
<!-- 사진 첨부용 첫번째 모달 --> 
<div id="modal_add_feed" class="modal modal_overlay">
    <div class="upload_modal_window">
        <div class="feed_create_nav d-flex justify-content-center align-items-center px-3">
            <div class="modal_title_text">새 게시물 만들기</div>
        </div>

        <div class="modal_image_upload">
            <span> 사진을 여기에 끌어다 놓으세요. </span><br>
            <button id="next_feed_step" class="btn btn-primary">사진 선택</button>
        </div>
    </div>
</div>
