<!-- templates/feed/feed_crop.html -->
<!-- 사진 크롭 용 두번째 모달 --> 
<div id="modal_crop_feed" class="modal modal_overlay">
  <div class="crop_modal_window">

    <!-- 상단 타이틀 바 -->
    <div class="feed_create_nav d-flex justify-content-between align-items-center px-3">
      <span class="material-icons-outlined" id="close_crop_modal" style="cursor: pointer;">arrow_back</span>
      <span class="modal_title_text">자르기</span>
      <a id="apply_crop" class="feed_create_next text-decoration-none" style="cursor: pointer;">다음</a>
    </div>

    <!-- 이미지 자르기 영역 -->
    <div class="crop_modal_content d-flex align-items-center justify-content-center">
      <img id="crop_target_image" src="" alt="자르기 대상" />
    </div>

  </div>
</div>